<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" /> -->
    <title>Color Palette Generator</title>
    <link rel="stylesheet" href='app.css'>
</head>

<body>
    <div class="container"></div>
    <form id="form">
        <input type="text" name='query'>
        <button class="btn">Generate</button>
    </form>
    <script src="app.js">
    </script>
</body>

</html>
